@charset "utf-8";
/**
 * head模块的数据定义
 */
/**
 * menu模块的数据定义
 */
/**
 * home模块的数据定义
 */
footer.footer {
  width: 100%;
  background-color: #dddddd;
}
footer.footer .footer-head {
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6089c1;
}
footer.footer .footer-head > div {
  vertical-align: middle;
}
footer.footer .footer-head .footerlinks {
  display: inline-block;
}
footer.footer .footer-head .footerlinks > a {
  display: inline-block;
}
footer.footer .footer-head .footerlinks > a.company-address {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #a7a7a7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #a7a7a7;
}
footer.footer .footer-head .footer-icon {
  display: inline-block;
}
footer.footer .footer-head .footer-icon > a {
  display: inline-block;
}
footer.footer .footer-main .footer-main-content {
  display: inline-block;
}
footer.footer .footer-main .footer-main-content > p.oneBang-links {
  color: #898989;
}
footer.footer .footer-main .footer-main-content > p.oneBang-links > a {
  color: #898989;
}
footer.footer .footer-main .footer-main-content > p.oneBang-copy {
  color: #a4a6a5;
}
footer.footer .footer-main .footer-main-pics {
  float: right;
  display: inline;
  display: inline-block;
}
footer.footer .footer-main .footer-main-pics > img {
  width: 100%;
}
.return-top {
  position: fixed;
  border-radius: 50%;
  background-color: #666666;
  opacity: 0.8;
  filter: alpha(opacity=8);
}
.return-top > img {
  width: 100%;
}
@media only screen and (device-width: 320px) and (device-height: 480px) {
  footer.footer {
    padding: 0 27px 45px;
    box-sizing: border-box;
  }
  footer.footer .footer-head {
    padding-top: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footerlinks {
    width: 182px;
    margin-bottom: 4px;
  }
  footer.footer .footer-head .footerlinks > a {
    font-size: 12px;
  }
  footer.footer .footer-head .footerlinks > a.about-us {
    padding-right: 8px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footerlinks > a.company-address {
    padding: 0 8px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footerlinks > a.recurit-talent {
    padding-left: 8px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footer-icon > a > img {
    width: 20px;
  }
  footer.footer .footer-head .footer-icon > a > img.footer-wechat {
    margin-left: 8px;
  }
  footer.footer .footer-head .footer-icon > a > img.footer-qq {
    margin: 0 8px;
  }
  footer.footer .footer-main {
    padding-top: 10px;
    box-sizing: border-box;
  }
  footer.footer .footer-main .footer-main-content {
    width: 220px;
  }
  footer.footer .footer-main .footer-main-content > p.oneBang-links {
    font-size: 12px;
  }
  footer.footer .footer-main .footer-main-content > p.oneBang-links > a {
    font-size: 12px;
  }
  footer.footer .footer-main .footer-main-content > p.oneBang-copy {
    font-size: 12px;
  }
  footer.footer .footer-main .footer-main-pics {
    width: 30px;
  }
  .return-top {
    width: 36px;
    height: 36px;
    right: 12px;
    bottom: 20px;
  }
}
@media only screen and (device-width: 320px) and (device-height: 568px) {
  footer.footer {
    padding: 0 27px 45px;
    box-sizing: border-box;
  }
  footer.footer .footer-head {
    padding-top: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footerlinks {
    width: 182px;
    margin-bottom: 4px;
  }
  footer.footer .footer-head .footerlinks > a {
    font-size: 12px;
  }
  footer.footer .footer-head .footerlinks > a.about-us {
    padding-right: 8px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footerlinks > a.company-address {
    padding: 0 8px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footerlinks > a.recurit-talent {
    padding-left: 8px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footer-icon > a > img {
    width: 20px;
  }
  footer.footer .footer-head .footer-icon > a > img.footer-wechat {
    margin-left: 8px;
  }
  footer.footer .footer-head .footer-icon > a > img.footer-qq {
    margin: 0 8px;
  }
  footer.footer .footer-main {
    padding-top: 10px;
    box-sizing: border-box;
  }
  footer.footer .footer-main .footer-main-content {
    width: 220px;
  }
  footer.footer .footer-main .footer-main-content > p.oneBang-links {
    font-size: 12px;
  }
  footer.footer .footer-main .footer-main-content > p.oneBang-links > a {
    font-size: 12px;
  }
  footer.footer .footer-main .footer-main-content > p.oneBang-copy {
    font-size: 12px;
  }
  footer.footer .footer-main .footer-main-pics {
    width: 30px;
  }
  .return-top {
    width: 36px;
    height: 36px;
    right: 12px;
    bottom: 20px;
  }
}
@media screen and (min-width: 321px) and (max-width: 374px) {
  footer.footer {
    padding: 0 27px 45px;
    box-sizing: border-box;
  }
  footer.footer .footer-head {
    padding-top: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footerlinks {
    width: 182px;
    margin-bottom: 4px;
  }
  footer.footer .footer-head .footerlinks > a {
    font-size: 12px;
  }
  footer.footer .footer-head .footerlinks > a.about-us {
    padding-right: 8px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footerlinks > a.company-address {
    padding: 0 8px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footerlinks > a.recurit-talent {
    padding-left: 8px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footer-icon > a > img {
    width: 20px;
  }
  footer.footer .footer-head .footer-icon > a > img.footer-wechat {
    margin-left: 8px;
  }
  footer.footer .footer-head .footer-icon > a > img.footer-qq {
    margin: 0 8px;
  }
  footer.footer .footer-main {
    padding-top: 10px;
    box-sizing: border-box;
  }
  footer.footer .footer-main .footer-main-content {
    width: 220px;
  }
  footer.footer .footer-main .footer-main-content > p.oneBang-links {
    font-size: 12px;
  }
  footer.footer .footer-main .footer-main-content > p.oneBang-links > a {
    font-size: 12px;
  }
  footer.footer .footer-main .footer-main-content > p.oneBang-copy {
    font-size: 12px;
  }
  footer.footer .footer-main .footer-main-pics {
    width: 30px;
  }
  .return-top {
    width: 36px;
    height: 36px;
    right: 12px;
    bottom: 20px;
  }
}
@media screen and (min-width: 375px) and (max-width: 413px) {
  footer.footer {
    padding: 0 32px 56px;
    box-sizing: border-box;
  }
  footer.footer .footer-head {
    padding-top: 28px;
    padding-bottom: 14px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footerlinks {
    width: 210px;
    margin-bottom: 4px;
  }
  footer.footer .footer-head .footerlinks > a {
    font-size: 14px;
  }
  footer.footer .footer-head .footerlinks > a.about-us {
    padding-right: 8px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footerlinks > a.company-address {
    padding: 0 8px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footerlinks > a.recurit-talent {
    padding-left: 8px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footer-icon > a > img {
    width: 24px;
  }
  footer.footer .footer-head .footer-icon > a > img.footer-wechat {
    margin-left: 8px;
  }
  footer.footer .footer-head .footer-icon > a > img.footer-qq {
    margin: 0 8px;
  }
  footer.footer .footer-main {
    padding-top: 14px;
    box-sizing: border-box;
  }
  footer.footer .footer-main .footer-main-content {
    width: 258px;
  }
  footer.footer .footer-main .footer-main-content > p.oneBang-links {
    font-size: 14px;
  }
  footer.footer .footer-main .footer-main-content > p.oneBang-links > a {
    font-size: 14px;
  }
  footer.footer .footer-main .footer-main-content > p.oneBang-copy {
    font-size: 14px;
  }
  footer.footer .footer-main .footer-main-pics {
    width: 42px;
  }
  .return-top {
    width: 42px;
    height: 42px;
    right: 18px;
    bottom: 20px;
  }
}
@media screen and (min-width: 414px) and (max-width: 767px) {
  footer.footer {
    padding: 0 32px 56px;
    box-sizing: border-box;
  }
  footer.footer .footer-head {
    padding-top: 32px;
    padding-bottom: 16px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footerlinks {
    width: 250px;
    margin-bottom: 4px;
  }
  footer.footer .footer-head .footerlinks > a {
    font-size: 16px;
  }
  footer.footer .footer-head .footerlinks > a.about-us {
    padding-right: 12px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footerlinks > a.company-address {
    padding: 0 12px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footerlinks > a.recurit-talent {
    padding-left: 12px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footer-icon > a > img {
    width: 24px;
  }
  footer.footer .footer-head .footer-icon > a > img.footer-wechat {
    margin-left: 8px;
  }
  footer.footer .footer-head .footer-icon > a > img.footer-qq {
    margin: 0 8px;
  }
  footer.footer .footer-main {
    padding-top: 16px;
    box-sizing: border-box;
  }
  footer.footer .footer-main .footer-main-content {
    width: 294px;
  }
  footer.footer .footer-main .footer-main-content > p.oneBang-links {
    font-size: 16px;
  }
  footer.footer .footer-main .footer-main-content > p.oneBang-links > a {
    font-size: 16px;
  }
  footer.footer .footer-main .footer-main-content > p.oneBang-copy {
    font-size: 16px;
  }
  footer.footer .footer-main .footer-main-pics {
    width: 48px;
  }
  .return-top {
    width: 50px;
    height: 50px;
    right: 25px;
    bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  footer.footer {
    padding: 0 81px 100px;
    box-sizing: border-box;
  }
  footer.footer .footer-head {
    padding-top: 48px;
    padding-bottom: 18px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footerlinks {
    width: 340px;
    margin-bottom: 4px;
  }
  footer.footer .footer-head .footerlinks > a {
    font-size: 21px;
  }
  footer.footer .footer-head .footerlinks > a.about-us {
    padding-right: 18px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footerlinks > a.company-address {
    padding: 0 18px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footerlinks > a.recurit-talent {
    padding-left: 18px;
    box-sizing: border-box;
  }
  footer.footer .footer-head .footer-icon > a > img {
    width: 32px;
  }
  footer.footer .footer-head .footer-icon > a > img.footer-wechat {
    margin-left: 14px;
  }
  footer.footer .footer-head .footer-icon > a > img.footer-qq {
    margin: 0 14px;
  }
  footer.footer .footer-main {
    padding-top: 18px;
    box-sizing: border-box;
  }
  footer.footer .footer-main .footer-main-content {
    width: 504px;
  }
  footer.footer .footer-main .footer-main-content > p.oneBang-links {
    font-size: 21px;
  }
  footer.footer .footer-main .footer-main-content > p.oneBang-links > a {
    font-size: 21px;
  }
  footer.footer .footer-main .footer-main-content > p.oneBang-copy {
    font-size: 21px;
  }
  footer.footer .footer-main .footer-main-pics {
    width: 62px;
  }
  .return-top {
    width: 80px;
    height: 80px;
    right: 45px;
    bottom: 48px;
  }
}
