@charset "utf-8";
/**
 * head模块的数据定义
 */
/**
 * menu模块的数据定义
 */
/**
 * home模块的数据定义
 */
.home {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  box-sizing: border-box;
}
.home .rotation {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.home .rotation > ul.rotation-groups {
  position: relative;
  left: 0;
  width: 200%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
}
.home .rotation > ul.rotation-groups > li {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -o-flex: 1;
  -ms-flex: 1;
  height: 100%;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list > img {
  width: 100%;
  height: 100%;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-pics {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -o-flex: 1;
  -ms-flex: 1;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-pics > img {
  width: 100%;
  transform: scale(0);
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-word {
  flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  -o-flex: 2;
  -ms-flex: 2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #ffffff;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-flow: column;
  webkit-flex-flow: column;
  justify-content: center;
  -webkit-justify-content: center;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-word .oneBang-animate {
  color: #ffffff;
  opacity: 0;
  filter: alpha(opacity=0);
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom {
  width: 100%;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-word {
  color: #ffffff;
  opacity: 0;
  filter: alpha(opacity=0);
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform {
  width: 100%;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p {
  display: inline-block;
  transform: scale(0);
  -webkit-transform: scale(0);
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > img,
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > span {
  vertical-align: middle;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > img {
  margin-right: 6px;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > span {
  color: #8c8abb;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p:first-child {
  margin-right: 24px;
}
.home .rotation > ul.rotation-small {
  position: absolute;
  left: 50%;
}
.home .rotation > ul.rotation-small > li {
  display: inline-block;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
}
.home .rotation > ul.rotation-small > li.on {
  background-color: #29a7e1;
}
.home .design {
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  height: 100%;
}
.home .design > div {
  width: 100%;
  height: 50%;
}
.home .design .design-example {
  background-color: #0ba29b;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-flow: column wrap;
  webkit-flex-flow: column wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.home .design .design-example > div {
  width: 100%;
}
.home .design .design-example .example-img > img {
  transform: scale(0);
  -webkit-transform: scale(0);
}
.home .design .design-example .example-content {
  color: #ffffff;
}
.home .design .design-example .example-content > h1 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  opacity: 0;
  filter: alpha(opacity=0);
}
.home .design .design-example .example-content > p {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  opacity: 0;
  filter: alpha(opacity=0);
}
.home .design .design-video {
  position: relative;
  background-color: #666666;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-flow: column;
  webkit-flex-flow: column;
  justify-content: center;
  -webkit-justify-content: center;
}
.home .design .design-video > video {
  width: 100%;
}
.home .design .design-video .design-video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home .design .design-video .design-video-bg > img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 374px) {
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang {
    bottom: 24px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top {
    margin-bottom: 8px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-pics {
    padding-right: 24px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-word {
    padding-left: 24px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-word .oneBang-animate {
    font-size: 12px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-word {
    font-size: 14px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform {
    margin-top: 3px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > img {
    width: 12px;
    margin-right: 6px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > span {
    font-size: 14px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p:first-child {
    margin-right: 24px;
  }
  .home .rotation > ul.rotation-small {
    bottom: 10px;
    margin-left: -18px;
  }
  .home .rotation > ul.rotation-small > li {
    width: 10px;
    height: 10px;
  }
  .home .rotation > ul.rotation-small > li:first-child {
    margin-right: 10px;
  }
  .home .design .design-example .example-img {
    padding: 25px 0 0 20px;
    box-sizing: border-box;
  }
  .home .design .design-example .example-img > img {
    width: 81px;
  }
  .home .design .design-example .example-img > img:first-child {
    margin-right: 18px;
  }
  .home .design .design-example .example-content {
    padding: 0 25px 15px 25px;
    box-sizing: border-box;
  }
  .home .design .design-example .example-content > h1 {
    font-size: 16px;
  }
  .home .design .design-example .example-content > p {
    font-size: 12px;
    margin-top: 6px;
  }
}
@media screen and (min-width: 375px) and (max-width: 413px) {
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang {
    bottom: 47px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top {
    margin-bottom: 12px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-pics {
    padding-right: 24px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-word {
    padding-left: 24px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-word .oneBang-animate {
    font-size: 15px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-word {
    font-size: 17px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform {
    margin-top: 8px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > img {
    width: 16px;
    margin-right: 6px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > span {
    font-size: 17px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p:first-child {
    margin-right: 24px;
  }
  .home .rotation > ul.rotation-small {
    bottom: 24px;
    margin-left: -24px;
  }
  .home .rotation > ul.rotation-small > li {
    width: 15px;
    height: 15px;
  }
  .home .rotation > ul.rotation-small > li:first-child {
    margin-right: 10px;
  }
  .home .design .design-example .example-img {
    padding: 42px 0 0 32px;
    box-sizing: border-box;
  }
  .home .design .design-example .example-img > img {
    width: 98px;
  }
  .home .design .design-example .example-img > img:first-child {
    margin-right: 28px;
  }
  .home .design .design-example .example-content {
    padding: 0 40px 15px 40px;
    box-sizing: border-box;
  }
  .home .design .design-example .example-content > h1 {
    font-size: 24px;
  }
  .home .design .design-example .example-content > p {
    font-size: 16px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 414px) and (max-width: 767px) {
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang {
    bottom: 47px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top {
    margin-bottom: 12px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-pics {
    padding-right: 24px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-word {
    padding-left: 24px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-word .oneBang-animate {
    font-size: 18px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-word {
    font-size: 19px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform {
    margin-top: 8px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > img {
    width: 19px;
    margin-right: 6px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > span {
    font-size: 19px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p:first-child {
    margin-right: 24px;
  }
  .home .rotation > ul.rotation-small {
    bottom: 24px;
    margin-left: -24px;
  }
  .home .rotation > ul.rotation-small > li {
    width: 15px;
    height: 15px;
  }
  .home .rotation > ul.rotation-small > li:first-child {
    margin-right: 10px;
  }
  .home .design .design-example .example-img {
    padding: 48px 0 0 36px;
    box-sizing: border-box;
  }
  .home .design .design-example .example-img > img {
    width: 108px;
  }
  .home .design .design-example .example-img > img:first-child {
    margin-right: 32px;
  }
  .home .design .design-example .example-content {
    padding: 0 45px 15px 45px;
    box-sizing: border-box;
  }
  .home .design .design-example .example-content > h1 {
    font-size: 28px;
  }
  .home .design .design-example .example-content > p {
    font-size: 18px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang {
    bottom: 47px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top {
    margin-bottom: 12px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-pics {
    padding-right: 42px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-word {
    padding-left: 42px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-word .oneBang-animate {
    font-size: 34px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-word {
    font-size: 36px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform {
    margin-top: 8px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > img {
    width: 32px;
    margin-right: 6px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > span {
    font-size: 36px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p:first-child {
    margin-right: 24px;
  }
  .home .rotation > ul.rotation-small {
    bottom: 24px;
    margin-left: -24px;
  }
  .home .rotation > ul.rotation-small > li {
    width: 15px;
    height: 15px;
  }
  .home .rotation > ul.rotation-small > li:first-child {
    margin-right: 10px;
  }
  .home .design .design-example .example-img {
    padding: 64px 0 0 52px;
    box-sizing: border-box;
  }
  .home .design .design-example .example-img > img {
    width: 162px;
  }
  .home .design .design-example .example-img > img:first-child {
    margin-right: 54px;
  }
  .home .design .design-example .example-content {
    padding: 0 70px 30px 70px;
    box-sizing: border-box;
  }
  .home .design .design-example .example-content > h1 {
    font-size: 42px;
  }
  .home .design .design-example .example-content > p {
    font-size: 28px;
    margin-top: 15px;
  }
}
.opacity-animate {
  animation: opacityAnimate 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: opacityAnimate 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes opacityAnimate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes opacityAnimate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.fade-in-up {
  animation: fadeInUp 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: fadeInUp 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes fadeInUp {
  0% {
    margin-bottom: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    margin-bottom: 25px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    margin-bottom: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    margin-bottom: 25px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.fade-in-up-1 {
  animation: fadeInUp_1 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: fadeInUp_1 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes fadeInUp_1 {
  0% {
    margin-bottom: 0px;
  }
  100% {
    margin-bottom: 15px;
  }
}
@-webkit-keyframes fadeInUp_1 {
  0% {
    margin-bottom: 0px;
  }
  100% {
    margin-bottom: 15px;
  }
}
.fade-in {
  animation: fadeIn 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: fadeIn 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
