@charset "utf-8";
/**
 * head模块的数据定义
 */
/**
 * menu模块的数据定义
 */
/**
 * home模块的数据定义
 */
.home {
  width: 100%;
  height: auto;
  padding-top: 50px;
  box-sizing: border-box;
}
.home .rotation {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.home .rotation > ul.rotation-groups {
  position: relative;
  left: 0;
  width: 200%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
}
.home .rotation > ul.rotation-groups > li {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -o-flex: 1;
  -ms-flex: 1;
  height: 100%;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list > img {
  width: 100%;
  height: 100%;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-pics {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -o-flex: 1;
  -ms-flex: 1;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-pics > img {
  width: 100%;
  transform: scale(0);
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-word {
  flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  -o-flex: 2;
  -ms-flex: 2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #ffffff;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-flow: column;
  webkit-flex-flow: column;
  justify-content: center;
  -webkit-justify-content: center;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-word .oneBang-animate {
  color: #ffffff;
  opacity: 0;
  filter: alpha(opacity=0);
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom {
  width: 100%;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-word {
  color: #ffffff;
  opacity: 0;
  filter: alpha(opacity=0);
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform {
  width: 100%;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p {
  display: inline-block;
  transform: scale(0);
  -webkit-transform: scale(0);
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > img,
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > span {
  vertical-align: middle;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > img {
  margin-right: 6px;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > span {
  color: #8c8abb;
}
.home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p:first-child {
  margin-right: 24px;
}
.home .rotation > ul.rotation-small {
  position: absolute;
  left: 50%;
}
.home .rotation > ul.rotation-small > li {
  display: inline-block;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
}
.home .rotation > ul.rotation-small > li.on {
  background-color: #29a7e1;
}
.home .design {
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  margin-top: -3px;
}
.home .design > div {
  width: 100%;
}
.home .design .design-example {
  background-color: #0ba29b;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-flow: column wrap;
  webkit-flex-flow: column wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.home .design .design-example > div {
  width: 100%;
}
.home .design .design-example .example-img > img {
  transform: scale(0);
  -webkit-transform: scale(0);
}
.home .design .design-example .example-content {
  color: #ffffff;
}
.home .design .design-example .example-content > h1 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  opacity: 0;
  filter: alpha(opacity=0);
}
.home .design .design-example .example-content > p {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  opacity: 0;
  filter: alpha(opacity=0);
}
.home .design .design-video {
  position: relative;
  background-color: #666666;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-flow: column;
  webkit-flex-flow: column;
  justify-content: center;
  -webkit-justify-content: center;
}
.home .design .design-video > video {
  width: 100%;
}
.home .design .design-video .design-video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home .design .design-video .design-video-bg > img {
  width: 100%;
  height: 100%;
}
.home .appInroduce {
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
}
.home .appInroduce > div {
  width: 100%;
}
.home .appInroduce .description {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  padding-left: 36px;
  -webkit-flex-flow: column wrap;
  webkit-flex-flow: column wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 20px;
  box-sizing: border-box;
}
.home .appInroduce .description > h1 {
  color: #5b5c5e;
  opacity: 0;
  filter: alpha(opacity=0);
}
.home .appInroduce .description > p {
  color: #5d5d5d;
  opacity: 0;
  filter: alpha(opacity=0);
}
.home .appInroduce .description .more {
  opacity: 0;
  filter: alpha(opacity=0);
  color: #0f2e7e;
  border-width: 1px;
  border-style: solid;
  border-color: #0e6eb8;
  box-shadow: 0 0 1px 0px #9cb1dc;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-flow: row wrap;
  webkit-flex-flow: row wrap;
  justify-content: center;
  -webkit-justify-content: center;
  margin-bottom: 0;
}
.home .appInroduce .series {
  padding-left: 36px;
  box-sizing: border-box;
}
.home .appInroduce .series .series-coat {
  width: 100%;
  overflow-x: hidden;
}
.home .appInroduce .series .series-coat .series-groups {
  position: relative;
  left: 0;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  width: 226%;
}
.home .appInroduce .series .series-coat .series-groups > li {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -o-flex: 1;
  -ms-flex: 1;
  margin-right: 15px;
}
.home .appInroduce .series .series-coat .series-groups > li > a.series-item {
  position: relative;
}
.home .appInroduce .series .series-coat .series-groups > li > a.series-item > img {
  width: 100%;
}
.home .appInroduce .series .series-coat .series-groups > li > a.series-item .series-content {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.home .appInroduce .series .series-coat .series-groups > li > a.series-item .series-content > h3 {
  color: #2d297d;
  opacity: 0;
  filter: alpha(opacity=0);
  animation-delay: .8s;
  -webkit-animation-delay: .8s;
}
.home .appInroduce .series .series-coat .series-groups > li > a.series-item .series-content > p {
  color: #898989;
  opacity: 0;
  filter: alpha(opacity=0);
  animation-delay: .8s;
  -webkit-animation-delay: .8s;
}
.home .appInroduce .series .series-coat .series-groups > li:last-child {
  margin-right: 0;
}
.home .appInroduce .series .series-direction {
  width: 100%;
  *zoom: 1;
}
.home .appInroduce .series .series-direction:after {
  content: "";
  display: block;
  clear: both;
}
.home .appInroduce .series .series-direction > img {
  float: left;
  display: inline;
}
.home .appInroduce .series .series-direction > ul {
  display: inline-block;
  float: left;
  display: inline;
}
.home .appInroduce .series .series-direction > ul > li {
  display: inline-block;
  background-color: #dddddd;
  border-radius: 50%;
}
.home .appInroduce .series .series-direction > ul > li.on {
  background-color: #0e6eb8;
}
.home .appService {
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  background-color: #ffffff;
}
.home .appService > div {
  width: 100%;
}
.home .appService .service-pics {
  position: relative;
  overflow: hidden;
}
.home .appService .service-pics > img {
  position: absolute;
}
.home .appService .service-pics > img.pics-img-1 {
  width: 52%;
  left: 15%;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: rotate(-21deg);
  -webkit-transform: rotate(-21deg);
}
.home .appService .service-pics > img.pics-img-2 {
  width: 24%;
  right: 9%;
  opacity: 0;
  filter: alpha(opacity=0);
  animation-delay: .8s;
  -webkit-animation-delay: .8s;
}
.home .appService .service-pics > img.pics-img-3 {
  width: 21%;
  left: 9%;
  opacity: 0;
  filter: alpha(opacity=0);
  animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
}
.home .appService .service-pics > img.pics-img-4 {
  width: 28%;
  right: 9%;
  opacity: 0;
  filter: alpha(opacity=0);
  animation-delay: 2.4s;
  -webkit-animation-delay: 2.4s;
}
.home .appService .service-pics > img.pics-img-5 {
  width: 70%;
  left: 14%;
  opacity: 0;
  filter: alpha(opacity=0);
  animation-delay: 3.2s;
  -webkit-animation-delay: 3.2s;
}
.home .appService .service-content {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-flow: column wrap;
  webkit-flex-flow: column wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.home .appService .service-content > h1 {
  color: #5b5756;
  opacity: 0;
  filter: alpha(opacity=0);
  animation-delay: 4s;
  -webkit-animation-delay: 4s;
}
.home .appService .service-content .service-item {
  opacity: 0;
  filter: alpha(opacity=0);
  animation-delay: 4s;
  -webkit-animation-delay: 4s;
}
.home .appService .service-content .service-item > p {
  color: #888888;
}
.home .news {
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  background: linear-gradient(to bottom, #0e6eb8, #122b88);
  background: -webkit-linear-gradient(to bottom, #0e6eb8, #122b88);
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-flow: column wrap;
  webkit-flex-flow: column wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.home .news > div {
  width: 100%;
}
.home .news .news-icon > img {
  vertical-align: middle;
  transform: scale(0);
  -webkit-transform: scale(0);
}
.home .news .news-content > h1 {
  text-transform: uppercase;
  color: #f6f8f7;
  opacity: 0;
  filter: alpha(opacity=0);
  animation-delay: .8s;
  -webkit-animation-delay: .8s;
}
.home .news .news-content .news-groups {
  opacity: 0;
  filter: alpha(opacity=0);
  animation-delay: .8s;
  -webkit-animation-delay: .8s;
}
.home .news .news-content .news-groups > h3 {
  color: #ebecf1;
}
.home .news .news-content .news-groups > p {
  color: #dde0ef;
}
@media screen and (max-width: 374px) {
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang {
    bottom: 20px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top {
    margin-bottom: 8px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-pics {
    padding-right: 24px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-word {
    padding-left: 24px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-word .oneBang-animate {
    font-size: 12px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-word {
    font-size: 12px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform {
    margin-top: 3px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > img {
    width: 12px;
    margin-right: 6px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > span {
    font-size: 12px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p:first-child {
    margin-right: 24px;
  }
  .home .rotation > ul.rotation-small {
    bottom: 5px;
    margin-left: -18px;
  }
  .home .rotation > ul.rotation-small > li {
    width: 10px;
    height: 10px;
  }
  .home .rotation > ul.rotation-small > li:first-child {
    margin-right: 10px;
  }
  .home .design .design-example .example-img {
    padding: 0px 0 0 20px;
    box-sizing: border-box;
  }
  .home .design .design-example .example-img > img {
    width: 81px;
  }
  .home .design .design-example .example-img > img:first-child {
    margin-right: 18px;
  }
  .home .design .design-example .example-content {
    padding: 0 25px 15px 25px;
    box-sizing: border-box;
  }
  .home .design .design-example .example-content > h1 {
    font-size: 16px;
  }
  .home .design .design-example .example-content > p {
    font-size: 12px;
    margin-top: 6px;
  }
  .home .appInroduce .description > h1 {
    font-size: 18px;
  }
  .home .appInroduce .description > p {
    font-size: 12px;
    margin-top: 10px;
  }
  .home .appInroduce .description > a.more {
    width: 102px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    margin-top: 8px;
  }
  .home .appInroduce .series .series-coat .series-groups > li > a.series-item .series-content {
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .home .appInroduce .series .series-coat .series-groups > li > a.series-item .series-content > h3 {
    font-size: 14px;
  }
  .home .appInroduce .series .series-coat .series-groups > li > a.series-item .series-content > p {
    font-size: 12px;
    margin-top: 2px;
  }
  .home .appInroduce .series .series-direction {
    margin-top: 10px;
  }
  .home .appInroduce .series .series-direction > img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  .home .appInroduce .series .series-direction > ul {
    margin-top: 9px;
  }
  .home .appInroduce .series .series-direction > ul > li {
    width: 10px;
    height: 10px;
  }
  .home .appInroduce .series .series-direction > ul > li:first-child {
    margin-right: 6px;
  }
  .home .appService .service-content {
    padding: 0 12px 15px;
    box-sizing: border-box;
  }
  .home .appService .service-content > h1 {
    font-size: 18px;
  }
  .home .appService .service-content .service-item {
    margin-top: 8px;
  }
  .home .appService .service-content .service-item > p {
    font-size: 12px;
  }
  .home .news {
    padding: 0 35px;
    box-sizing: border-box;
  }
  .home .news .news-icon {
    padding-top: 35px;
    box-sizing: border-box;
  }
  .home .news .news-icon > img {
    width: 40px;
  }
  .home .news .news-icon > img.news-qq,
  .home .news .news-icon > img.news-wechat {
    margin-right: 16px;
  }
  .home .news .news-content {
    padding-bottom: 35px;
    box-sizing: border-box;
  }
  .home .news .news-content > h1 {
    font-size: 21px;
  }
  .home .news .news-content .news-groups {
    margin-top: 8px;
  }
  .home .news .news-content .news-groups > h3 {
    font-size: 12px;
  }
  .home .news .news-content .news-groups > p {
    font-size: 12px;
  }
}
@media screen and (min-width: 375px) and (max-width: 413px) {
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang {
    bottom: 22px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top {
    margin-bottom: 12px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-pics {
    padding-right: 24px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-word {
    padding-left: 24px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-word .oneBang-animate {
    font-size: 15px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-word {
    font-size: 17px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform {
    margin-top: 8px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > img {
    width: 16px;
    margin-right: 6px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > span {
    font-size: 17px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p:first-child {
    margin-right: 24px;
  }
  .home .rotation > ul.rotation-small {
    bottom: 12px;
    margin-left: -24px;
  }
  .home .rotation > ul.rotation-small > li {
    width: 15px;
    height: 15px;
  }
  .home .rotation > ul.rotation-small > li:first-child {
    margin-right: 10px;
  }
  .home .design .design-example .example-img {
    padding: 0px 0 0 32px;
    box-sizing: border-box;
  }
  .home .design .design-example .example-img > img {
    width: 98px;
  }
  .home .design .design-example .example-img > img:first-child {
    margin-right: 28px;
  }
  .home .design .design-example .example-content {
    padding: 0 40px 15px 40px;
    box-sizing: border-box;
  }
  .home .design .design-example .example-content > h1 {
    font-size: 24px;
  }
  .home .design .design-example .example-content > p {
    font-size: 16px;
    margin-top: 10px;
  }
  .home .appInroduce .description > h1 {
    font-size: 28px;
  }
  .home .appInroduce .description > p {
    font-size: 16px;
    margin-top: 21px;
  }
  .home .appInroduce .description > a.more {
    width: 190px;
    height: 46px;
    line-height: 46px;
    font-size: 18px;
    margin-top: 16px;
  }
  .home .appInroduce .series .series-coat .series-groups > li > a.series-item .series-content {
    height: 60px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .home .appInroduce .series .series-coat .series-groups > li > a.series-item .series-content > h3 {
    font-size: 18px;
  }
  .home .appInroduce .series .series-coat .series-groups > li > a.series-item .series-content > p {
    font-size: 14px;
    margin-top: 6px;
  }
  .home .appInroduce .series .series-direction {
    margin-top: 16px;
  }
  .home .appInroduce .series .series-direction > img {
    width: 42px;
    height: 42px;
    margin-right: 18px;
  }
  .home .appInroduce .series .series-direction > ul {
    margin-top: 12px;
  }
  .home .appInroduce .series .series-direction > ul > li {
    width: 15px;
    height: 15px;
  }
  .home .appInroduce .series .series-direction > ul > li:first-child {
    margin-right: 6px;
  }
  .home .appService .service-content {
    padding: 0 16px 18px;
    box-sizing: border-box;
  }
  .home .appService .service-content > h1 {
    font-size: 21px;
  }
  .home .appService .service-content .service-item {
    margin-top: 12px;
  }
  .home .appService .service-content .service-item > p {
    font-size: 16px;
  }
  .home .news {
    padding: 0 35px;
    box-sizing: border-box;
  }
  .home .news .news-icon {
    padding-top: 35px;
    box-sizing: border-box;
  }
  .home .news .news-icon > img {
    width: 58px;
  }
  .home .news .news-icon > img.news-qq,
  .home .news .news-icon > img.news-wechat {
    margin-right: 16px;
  }
  .home .news .news-content {
    padding-bottom: 35px;
    box-sizing: border-box;
  }
  .home .news .news-content > h1 {
    font-size: 32px;
  }
  .home .news .news-content .news-groups {
    margin-top: 16px;
  }
  .home .news .news-content .news-groups > h3 {
    font-size: 16px;
  }
  .home .news .news-content .news-groups > p {
    font-size: 16px;
  }
}
@media screen and (min-width: 414px) and (max-width: 767px) {
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang {
    bottom: 20px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top {
    margin-bottom: 12px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-pics {
    padding-right: 24px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-word {
    padding-left: 24px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-word .oneBang-animate {
    font-size: 18px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-word {
    font-size: 19px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform {
    margin-top: 8px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > img {
    width: 19px;
    margin-right: 6px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > span {
    font-size: 19px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p:first-child {
    margin-right: 24px;
  }
  .home .rotation > ul.rotation-small {
    bottom: 10px;
    margin-left: -24px;
  }
  .home .rotation > ul.rotation-small > li {
    width: 15px;
    height: 15px;
  }
  .home .rotation > ul.rotation-small > li:first-child {
    margin-right: 10px;
  }
  .home .design .design-example .example-img {
    padding: 0px 0 0 36px;
    box-sizing: border-box;
  }
  .home .design .design-example .example-img > img {
    width: 108px;
  }
  .home .design .design-example .example-img > img:first-child {
    margin-right: 32px;
  }
  .home .design .design-example .example-content {
    padding: 0 45px 15px 45px;
    box-sizing: border-box;
  }
  .home .design .design-example .example-content > h1 {
    font-size: 28px;
  }
  .home .design .design-example .example-content > p {
    font-size: 18px;
    margin-top: 10px;
  }
  .home .appInroduce .description > h1 {
    font-size: 32px;
  }
  .home .appInroduce .description > p {
    font-size: 18px;
    margin-top: 21px;
  }
  .home .appInroduce .description > a.more {
    width: 246px;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    margin-top: 16px;
  }
  .home .appInroduce .series .series-coat .series-groups > li > a.series-item .series-content {
    height: 66px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .home .appInroduce .series .series-coat .series-groups > li > a.series-item .series-content > h3 {
    font-size: 18px;
  }
  .home .appInroduce .series .series-coat .series-groups > li > a.series-item .series-content > p {
    font-size: 14px;
    margin-top: 6px;
  }
  .home .appInroduce .series .series-direction {
    margin-top: 16px;
  }
  .home .appInroduce .series .series-direction > img {
    width: 42px;
    height: 42px;
    margin-right: 18px;
  }
  .home .appInroduce .series .series-direction > ul {
    margin-top: 12px;
  }
  .home .appInroduce .series .series-direction > ul > li {
    width: 15px;
    height: 15px;
  }
  .home .appInroduce .series .series-direction > ul > li:first-child {
    margin-right: 6px;
  }
  .home .appService .service-content {
    padding: 0 20px 25px;
    box-sizing: border-box;
  }
  .home .appService .service-content > h1 {
    font-size: 24px;
  }
  .home .appService .service-content .service-item {
    margin-top: 15px;
  }
  .home .appService .service-content .service-item > p {
    font-size: 18px;
  }
  .home .news {
    padding: 0 45px;
    box-sizing: border-box;
  }
  .home .news .news-icon {
    padding-top: 45px;
    box-sizing: border-box;
  }
  .home .news .news-icon > img {
    width: 72px;
  }
  .home .news .news-icon > img.news-qq,
  .home .news .news-icon > img.news-wechat {
    margin-right: 16px;
  }
  .home .news .news-content {
    padding-bottom: 45px;
    box-sizing: border-box;
  }
  .home .news .news-content > h1 {
    font-size: 36px;
  }
  .home .news .news-content .news-groups {
    margin-top: 16px;
  }
  .home .news .news-content .news-groups > h3 {
    font-size: 18px;
  }
  .home .news .news-content .news-groups > p {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang {
    bottom: 36px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top {
    margin-bottom: 12px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-pics {
    padding-right: 42px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-word {
    padding-left: 42px;
    box-sizing: border-box;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-top .oneBang-top-word .oneBang-animate {
    font-size: 28px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-word {
    font-size: 28px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform {
    margin-top: 8px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > img {
    width: 32px;
    margin-right: 6px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p > span {
    font-size: 28px;
  }
  .home .rotation > ul.rotation-groups > li > a.rotation-list .oneBang .oneBang-bottom .oneBang-bottom-platform > p:first-child {
    margin-right: 24px;
  }
  .home .rotation > ul.rotation-small {
    bottom: 24px;
    margin-left: -24px;
  }
  .home .rotation > ul.rotation-small > li {
    width: 15px;
    height: 15px;
  }
  .home .rotation > ul.rotation-small > li:first-child {
    margin-right: 10px;
  }
  .home .design .design-example .example-img {
    padding: 0px 0 0 52px;
    box-sizing: border-box;
  }
  .home .design .design-example .example-img > img {
    width: 162px;
  }
  .home .design .design-example .example-img > img:first-child {
    margin-right: 54px;
  }
  .home .design .design-example .example-content {
    padding: 0 70px 30px 70px;
    box-sizing: border-box;
  }
  .home .design .design-example .example-content > h1 {
    font-size: 42px;
  }
  .home .design .design-example .example-content > p {
    font-size: 28px;
    margin-top: 15px;
  }
  .home .appInroduce .description > h1 {
    font-size: 52px;
  }
  .home .appInroduce .description > p {
    font-size: 28px;
    margin-top: 12px;
  }
  .home .appInroduce .description > a.more {
    width: 330px;
    height: 82px;
    line-height: 82px;
    font-size: 30px;
    margin-top: 14px;
  }
  .home .appInroduce .series .series-coat .series-groups > li > a.series-item .series-content {
    height: 124px;
    padding: 0 25px;
    box-sizing: border-box;
    margin-bottom: 25px;
  }
  .home .appInroduce .series .series-coat .series-groups > li > a.series-item .series-content > h3 {
    font-size: 40px;
  }
  .home .appInroduce .series .series-coat .series-groups > li > a.series-item .series-content > p {
    font-size: 24px;
    margin-top: 6px;
  }
  .home .appInroduce .series .series-direction {
    margin-top: 18px;
  }
  .home .appInroduce .series .series-direction > img {
    width: 72px;
    height: 72px;
    margin-right: 32px;
  }
  .home .appInroduce .series .series-direction > ul {
    margin-top: 22px;
  }
  .home .appInroduce .series .series-direction > ul > li {
    width: 25px;
    height: 25px;
  }
  .home .appInroduce .series .series-direction > ul > li:first-child {
    margin-right: 16px;
  }
  .home .appService .service-content {
    padding: 0 40px 45px;
    box-sizing: border-box;
  }
  .home .appService .service-content > h1 {
    font-size: 42px;
  }
  .home .appService .service-content .service-item {
    margin-top: 24px;
  }
  .home .appService .service-content .service-item > p {
    font-size: 28px;
  }
  .home .news {
    padding: 0 72px;
    box-sizing: border-box;
  }
  .home .news .news-icon {
    padding-top: 72px;
    box-sizing: border-box;
  }
  .home .news .news-icon > img {
    width: 112px;
  }
  .home .news .news-icon > img.news-qq,
  .home .news .news-icon > img.news-wechat {
    margin-right: 16px;
  }
  .home .news .news-content {
    padding-bottom: 72px;
    box-sizing: border-box;
  }
  .home .news .news-content > h1 {
    font-size: 56px;
  }
  .home .news .news-content .news-groups {
    margin-top: 16px;
  }
  .home .news .news-content .news-groups > h3 {
    font-size: 28px;
  }
  .home .news .news-content .news-groups > p {
    font-size: 28px;
  }
}
.opacity-animate {
  animation: opacityAnimate 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: opacityAnimate 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes opacityAnimate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes opacityAnimate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.fade-in-up {
  animation: fadeInUp 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: fadeInUp 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes fadeInUp {
  0% {
    margin-bottom: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    margin-bottom: 25px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    margin-bottom: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    margin-bottom: 25px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.fade-in-up-1 {
  animation: fadeInUp_1 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: fadeInUp_1 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes fadeInUp_1 {
  0% {
    margin-bottom: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    margin-bottom: 10px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes fadeInUp_1 {
  0% {
    margin-bottom: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    margin-bottom: 15px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.fade-in-up-2 {
  animation: fadeInUp_2 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: fadeInUp_2 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes fadeInUp_2 {
  0% {
    margin-bottom: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    margin-bottom: 40px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes fadeInUp_2 {
  0% {
    margin-bottom: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    margin-bottom: 40px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.fade-in-up-3 {
  animation: fadeInUp_3 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: fadeInUp_3 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes fadeInUp_3 {
  0% {
    margin-top: 25px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    margin-top: 0px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes fadeInUp_3 {
  0% {
    margin-top: 25px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    margin-top: 0px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.fade-in-up-4 {
  animation: fadeInUp_4 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: fadeInUp_4 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes fadeInUp_4 {
  0% {
    margin-bottom: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    margin-bottom: 60px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes fadeInUp_4 {
  0% {
    margin-bottom: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    margin-bottom: 60px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.fade-in {
  animation: fadeIn 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: fadeIn 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.top-series-1 {
  animation: topSeries_1 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: topSeries_1 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes topSeries_1 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 48px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes topSeries_1 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 48px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.top-series-2 {
  animation: topSeries_2 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: topSeries_2 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes topSeries_2 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 64px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes topSeries_2 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 64px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.top-series-3 {
  animation: topSeries_3 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: topSeries_3 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes topSeries_3 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 140px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes topSeries_3 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 140px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.top-series-4 {
  animation: topSeries_4 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: topSeries_4 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes topSeries_4 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 130px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes topSeries_4 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 130px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.top-series-5 {
  animation: topSeries_5 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: topSeries_5 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes topSeries_5 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 42px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes topSeries_5 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 42px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.top-series-1-1 {
  animation: topSeries_1_1 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: topSeries_1_1 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes topSeries_1_1 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 48px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes topSeries_1_1 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 48px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.top-series-2-1 {
  animation: topSeries_2_1 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: topSeries_2_1 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes topSeries_2_1 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 64px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes topSeries_2_1 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 64px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.top-series-3-1 {
  animation: topSeries_3_1 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: topSeries_3_1 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes topSeries_3_1 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 170px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes topSeries_3_1 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 170px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.top-series-4-1 {
  animation: topSeries_4_1 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: topSeries_4_1 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes topSeries_4_1 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 170px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes topSeries_4_1 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 170px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.top-series-5-1 {
  animation: topSeries_5_1 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: topSeries_5_1 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes topSeries_5_1 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 55px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes topSeries_5_1 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 55px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.top-series-1-2 {
  animation: topSeries_1_2 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: topSeries_1_2 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes topSeries_1_2 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 48px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes topSeries_1_2 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 48px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.top-series-2-2 {
  animation: topSeries_2_2 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: topSeries_2_2 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes topSeries_2_2 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 104px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes topSeries_2_2 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 104px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.top-series-3-2 {
  animation: topSeries_3_2 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: topSeries_3_2 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes topSeries_3_2 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 270px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes topSeries_3_2 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 270px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.top-series-4-2 {
  animation: topSeries_4_2 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: topSeries_4_2 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes topSeries_4_2 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 290px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes topSeries_4_2 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 290px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.top-series-5-2 {
  animation: topSeries_5_2 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: topSeries_5_2 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes topSeries_5_2 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 45px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes topSeries_5_2 {
  0% {
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    top: 45px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.news-animate {
  animation: newsAnimate 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: newsAnimate 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes newsAnimate {
  0% {
    margin-bottom: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    margin-bottom: 45px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes newsAnimate {
  0% {
    margin-bottom: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    margin-bottom: 45px;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
