@charset "utf-8";
/**
 * head模块的数据定义
 */
/**
 * menu模块的数据定义
 */
/**
 * home模块的数据定义
 */
.head {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 7vmax;
  background-color: #e4e4e6;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  -webkit-flex-flow: column wrap;
  webkit-flex-flow: column wrap;
  justify-content: center;
  -webkit-justify-content: center;
}
.head .head-title {
  width: 100%;
  height: auto;
  text-align: center;
}
.head .head-title > img,
.head .head-title > span.head-content {
  vertical-align: middle;
}
.head .head-title > img {
  margin-right: 2vmin;
  width: 7vmin;
}
.head .head-title > span.head-content {
  display: inline-block;
  text-align: left;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #ffffff;
  padding-left: 2vmin;
  box-sizing: border-box;
}
.head .head-title > span.head-content > p {
  color: #10307d;
}
.head .head-title > span.head-content > p.head-ch {
  font-size: 4vmin;
}
.head .head-title > span.head-content > p.head-en {
  font-size: 3vmin;
  margin-top: -0.6vmax;
}
.head > a.head-links {
  display: inline-block;
  position: absolute;
  top: 1.6vmax;
  left: 4vmin;
}
.head > a.head-links > img {
  height: 4vmax;
}
nav.menu {
  position: fixed;
  top: 0;
  z-index: 3;
  left: -100vw;
  width: 100%;
  height: 100vh;
  background-color: #313131;
}
nav.menu .menu-head {
  width: 100%;
  height: 6vmax;
  background-color: #272727;
  *zoom: 1;
}
nav.menu .menu-head:after {
  content: "";
  display: block;
  clear: both;
}
nav.menu .menu-head > img {
  height: 5vmax;
  border: none;
  outline: none;
}
nav.menu .menu-head > img.menu-head-return {
  float: left;
  display: inline;
  margin: 0.5vmax 0 0.5vmax -10vmin;
}
nav.menu .menu-head > img.menu-head-close {
  float: right;
  display: inline;
  margin: 0.5vmax 1vmin 0.5vmax 0;
}
nav.menu .menu-main {
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
}
nav.menu .menu-main > ul.menu-primary > li {
  padding: 2.5vh 3vw 2.5vh 6vw;
  box-sizing: border-box;
}
nav.menu .menu-main > ul.menu-primary > li > a.menu-item {
  display: block;
  font-weight: 400;
}
nav.menu .menu-main > ul.menu-primary > li > a.menu-item > img,
nav.menu .menu-main > ul.menu-primary > li > a.menu-item > span {
  vertical-align: middle;
}
nav.menu .menu-main > ul.menu-primary > li > a.menu-item > img {
  width: 5vmin;
  margin-right: 20px;
}
nav.menu .menu-main > ul.menu-primary > li > a.menu-item > span {
  font-size: 5vmin;
  color: #ffffff;
}
nav.menu .menu-main > ul.menu-primary > li > a.menu-item > i.next {
  display: inline-block;
  float: right;
  display: inline;
  margin-top: 5px;
}
nav.menu .menu-main > ul.menu-primary > li > a.menu-item > i.next > img {
  width: 2vmin;
}
nav.menu .sub-menu {
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative;
  top: -100%;
  left: 200vw;
  width: 100%;
  height: 100%;
  background-color: #313131;
}
nav.menu .sub-menu .product-service,
nav.menu .sub-menu .help-center {
  display: none;
  width: 100%;
  padding-top: 5vmax;
  box-sizing: border-box;
}
nav.menu .sub-menu .product-service > a.links,
nav.menu .sub-menu .help-center > a.links {
  display: block;
  padding: 3vmax 0 3vmax 20vmin;
  box-sizing: border-box;
}
nav.menu .sub-menu .product-service > a.links > img,
nav.menu .sub-menu .help-center > a.links > img,
nav.menu .sub-menu .product-service > a.links > span,
nav.menu .sub-menu .help-center > a.links > span {
  vertical-align: middle;
}
nav.menu .sub-menu .product-service > a.links > img,
nav.menu .sub-menu .help-center > a.links > img {
  width: 4vmin;
  margin-right: 4vmin;
}
nav.menu .sub-menu .product-service > a.links > span,
nav.menu .sub-menu .help-center > a.links > span {
  color: #ffffff;
  font-size: 4vmin;
}
nav.menu .sub-menu .product-service > ul,
nav.menu .sub-menu .help-center > ul {
  width: 100%;
}
nav.menu .sub-menu .product-service > ul > li.menu-item > a,
nav.menu .sub-menu .help-center > ul > li.menu-item > a {
  display: block;
  color: #04a0b0;
  font-size: 3.5vmin;
  padding: 1vmax 0 1vmax 28vmin;
  box-sizing: border-box;
}
.li-animate-left {
  animation: liAnimateLeft .3s ease .5s forwards;
  -webkit-animation: liAnimateLeft .3s ease .5s forwards;
}
@keyframes liAnimateLeft {
  0% {
    margin-right: 0;
    background-color: #313131;
  }
  100% {
    margin-right: 5vmin;
    background-color: #04a0b0;
  }
}
@-webkit-keyframes liAnimateLeft {
  0% {
    margin-right: 0;
    background-color: #313131;
  }
  100% {
    margin-right: 5vmin;
    background-color: #04a0b0;
  }
}
.li-animate-right {
  animation: liAnimateRight .3s ease .5s forwards;
  -webkit-animation: liAnimateRight .3s ease .5s forwards;
}
@keyframes liAnimateRight {
  0% {
    margin-right: 5vmin;
    background-color: #04a0b0;
  }
  100% {
    margin-right: 0;
    background-color: #313131;
  }
}
@-webkit-keyframes liAnimateRight {
  0% {
    margin-right: 5vmin;
    background-color: #04a0b0;
  }
  100% {
    margin-right: 0;
    background-color: #313131;
  }
}
.return-animate {
  animation: returnAnimate .3s ease .5s forwards;
  -webkit-animation: returnAnimate .3s ease .5s forwards;
}
@keyframes returnAnimate {
  0% {
    margin-left: -10vmin;
  }
  100% {
    margin-left: 1vmin;
  }
}
@-webkit-keyframes returnAnimate {
  0% {
    margin-left: -10vmin;
  }
  100% {
    margin-left: 1vmin;
  }
}
.return-intial {
  animation: returnIntial .3s ease forwards;
  -webkit-animation: returnIntial .3s ease forwards;
}
@keyframes returnIntial {
  0% {
    margin-left: 1vmin;
  }
  100% {
    margin-left: -10vmin;
  }
}
@-webkit-keyframes returnIntial {
  0% {
    margin-left: 1vmin;
  }
  100% {
    margin-left: -10vmin;
  }
}
.menu-animate {
  animation: menuAnimate .3s ease forwards;
  -webkit-animation: menuAnimate .3s ease forwards;
}
@keyframes menuAnimate {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes menuAnimate {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}
.menu-animate-sub {
  animation: menuAnimateSub .3s ease forwards;
  -webkit-animation: menuAnimateSub .3s ease forwards;
}
@keyframes menuAnimateSub {
  0% {
    left: 200vw;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    left: 0;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes menuAnimateSub {
  0% {
    left: 200vw;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    left: 0;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.menu-animate-sub-right {
  animation: menuAnimateSubRight .3s ease forwards;
  -webkit-animation: menuAnimateSubRight .3s ease forwards;
}
@keyframes menuAnimateSubRight {
  0% {
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    left: 100vm;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes menuAnimateSubRight {
  0% {
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    left: 100vm;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.menu-animate-main {
  animation: menuAnimateMain .3s ease forwards;
  -webkit-animation: menuAnimateMain .3s ease forwards;
}
@keyframes menuAnimateMain {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}
@-webkit-keyframes menuAnimateMain {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}
.fade-in {
  animation: fadeIn .3s ease forwards;
  -webkit-animation: fadeIn .3s ease forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.fade-in-left {
  animation: fadeInLeft 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation: fadeInLeft 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes fadeInLeft {
  0% {
    padding-left: 20vmin;
    box-sizing: border-box;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    padding-left: 6vmin;
    box-sizing: border-box;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    padding-left: 20vmin;
    box-sizing: border-box;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    padding-left: 6vmin;
    box-sizing: border-box;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.fade-in-left-sub {
  animation: fadeInLeftSub .8s ease forwards;
  -webkit-animation: fadeInLeftSub .8s ease forwards;
}
@keyframes fadeInLeftSub {
  0% {
    padding-left: 28vmin;
    box-sizing: border-box;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    padding-left: 14vmin;
    box-sizing: border-box;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes fadeInLeftSub {
  0% {
    padding-left: 28vmin;
    box-sizing: border-box;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    padding-left: 14vmin;
    box-sizing: border-box;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.fade-in-left-next {
  animation: fadeInLeftNext .8s ease forwards;
  -webkit-animation: fadeInLeftNext .8s ease forwards;
}
@keyframes fadeInLeftNext {
  0% {
    padding-right: 0;
    box-sizing: border-box;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    padding-right: 5vmin;
    box-sizing: border-box;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes fadeInLeftNext {
  0% {
    padding-right: 0;
    box-sizing: border-box;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    padding-right: 5vmin;
    box-sizing: border-box;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
.fade-in-right-next {
  animation: fadeInRightNext .8s ease forwards;
  -webkit-animation: fadeInRightNext .8s ease forwards;
}
@keyframes fadeInRightNext {
  0% {
    padding-right: 5vmin;
    box-sizing: border-box;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    padding-right: 0;
    box-sizing: border-box;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
@-webkit-keyframes fadeInRightNext {
  0% {
    padding-right: 5vmin;
    box-sizing: border-box;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    padding-right: 0;
    box-sizing: border-box;
    opacity: 1;
    filter: alpha(opacity=10);
  }
}
