@charset "utf-8";
@import "common";
@import "mData";

.home{
	.width-max();
	.height(100%);
	.padding-tp(@h_height);
	.rotation{
		.pos(rel);
		.width-max();
		.height(100%);
		.overflow-x();
		>ul.rotation-groups{
			.pos(rel);
			.left(0);
			.width(200%);
			.height(100%);
			.display(f);
			>li{
				.flex(1);
				.height(100%);
				>a.rotation-list{
					.pos(rel);
					.display(b);
					.width-max();
					.height(100%);
					>img{
						.width-max();
						.height(100%);
					}
					.oneBang{
						.pos(abs);
						.left(0);
						.width-max();
						.padding(0 20px);
						.oneBang-top{
							.width-max();
							.display(f);
							.oneBang-top-pics{
								.flex(1);
								>img{
									.width-max();
									transform: scale(0);
								}
							}
							.oneBang-top-word{
								.flex(2);
								.border-lt(1px,solid,@white);
								.display(f);
								-webkit-flex-flow: column;
								webkit-flex-flow: column;
								justify-content: center;
								-webkit-justify-content: center;
								.oneBang-animate{
									.color(@white);
									.opa(0);
								}
							}
						}
						.oneBang-bottom{
							.width-max();
							.oneBang-bottom-word{
								.color(@white);
								.opa(0);
							}
							.oneBang-bottom-platform{
								.width-max();
								>p{
									.display(ib);
									transform: scale(0);
									-webkit-transform: scale(0);
									>img,
									>span{
										vertical-align: middle;
									}
									>img{
										.margin-rt(6px);
									}
									>span{
										.color(#8C8ABB);
									}
								}
								>p:first-child{
									.margin-rt(24px);
								}
							}
						}
					}
				}
			}
		}
		>ul.rotation-small{
			.pos(abs);
			.left(50%);
			>li{
				.display(ib);
				.border-radius(50%);
				.border(1px,solid,@white);
			}
			>li.on{
				.bgColor(@hm_bgColor);
			}
		}
	}
	.design{
		.opa(0);
		.width-max();
		>div{
			.width-max();
		}
		.design-example{
			.bgColor(#0BA29B);
			.display(f);
			-webkit-flex-flow: column wrap;
			webkit-flex-flow: column wrap;
			justify-content: space-between;
			-webkit-justify-content: space-between;
			>div{
				.width-max();
			}
			.example-img{
				>img{
					transform: scale(0);
					-webkit-transform: scale(0);
				}
			}
			.example-content{
				.color(@white);
				>h1{
					animation-delay: 1s;
					-webkit-animation-delay: 1s;
					.opa(0);
				}
				>p{
					animation-delay: 1s;
					-webkit-animation-delay: 1s;
					.opa(0);
				}
			}

		}
		.design-video{
			.pos(rel);
			.bgColor(#666);
			.display(f);
			-webkit-flex-flow: column;
			webkit-flex-flow: column;
			justify-content: center;
			-webkit-justify-content: center;
			>video{
				.width-max();
			}
			.design-video-bg{
				.pos(abs);
				.top(0);
				.left(0);
				.width-max();
				.height(100%);
				>img{
					.width-max();
					.height(100%);
				}
			}
		}
	}
	.appInroduce{
		.opa(0);
		.width-max();
		// .padding-lt(36px);
		>div{
			.width-max();
		}
		.description{
			.display(f);
			.padding-lt(36px);
			-webkit-flex-flow: column wrap;
			webkit-flex-flow: column wrap;
			justify-content: flex-end;
			-webkit-justify-content: flex-end;
			.padding-rt(20px);
			>h1{
				.color(#5b5c5e);
				.opa(0);
			}
			>p{
				.color(#5d5d5d);
				.opa(0);
			}
			.more{
				.opa(0);
				.color(#0f2e7e);
				.border(1px,solid,#0e6eb8);
				box-shadow: 0 0 1px 0px #9cb1dc;
				.display(f);
				-webkit-flex-flow: row wrap;
				webkit-flex-flow: row wrap;
				justify-content: center;
				-webkit-justify-content: center;
				.margin-bm(0);
			}
		}
		.series{
			.padding-lt(36px);
			.series-coat{
				.width-max();
				// .padding-lt(36px);
				.overflow-x();
				.series-groups{
					.pos(rel);
					.left(0);
					.display(f);
					.width(226%);
					>li{
						.flex(1);
						.margin-rt(15px);
						>a.series-item{
							.pos(rel);
							>img{
								.width-max();
							}
							.series-content{
								.pos(abs);
								.left(0);
								.bottom(0);
								.overflow();
								>h3{
									.color(#2d297d);
									.opa(0);
									animation-delay: .8s;
									-webkit-animation-delay: .8s;
								}
								>p{
									.color(#898989);
									.opa(0);
									animation-delay: .8s;
									-webkit-animation-delay: .8s;
								}
							}
						}
					}
					>li:last-child{
						.margin-rt(0);
					}

				}
			}
			.series-direction{
				.width-max();
				// .padding-lt(40px);
				.clearfix;
				>img{
					.fl();
				}
				>ul{
					.display(ib);
					.fl();
					>li{
						.display(ib);
						.bgColor(#DDDDDD);
						.border-radius(50%);
					}
					>li.on{
						.bgColor(#0E6EB8);
					}
				}
			}
		}
	}
	.appService{
		.width-max();
		.bgColor(@white);
		>div{
			.width-max();
		}
		.service-pics{
			.pos(rel);
			.overflow();
			>img{
				.pos(abs);
			}
			>img.pics-img-1{
				.width(52%);
				.left(15%);
				.opa(0);
				transform: rotate(-21deg);
				-webkit-transform: rotate(-21deg);
			}
			>img.pics-img-2{
				.width(24%);
				.right(9%);
				.opa(0);
				animation-delay: .8s;
				-webkit-animation-delay: .8s;
			}
			>img.pics-img-3{
				.width(21%);
				.left(9%);
				.opa(0);
				animation-delay: 1.6s;
				-webkit-animation-delay: 1.6s;
			}
			>img.pics-img-4{
				.width(28%);
				.right(9%);
				.opa(0);
				animation-delay: 2.4s;
				-webkit-animation-delay: 2.4s;
			}
			>img.pics-img-5{
				.width(70%);
				.left(14%);
				.opa(0);
				animation-delay: 3.2s;
				-webkit-animation-delay: 3.2s;
			}
		}
		.service-content{
			.display(f);
			-webkit-flex-flow: column wrap;
			webkit-flex-flow: column wrap;
			justify-content: flex-end;
			-webkit-justify-content: flex-end;
			>h1{
				.color(#5b5756);
				.opa(0);
				animation-delay: 4s;
				-webkit-animation-delay: 4s;
			}
			.service-item{
				.opa(0);
				animation-delay: 4s;
				-webkit-animation-delay: 4s;
				>p{
					.color(#888888);
				}
			}
		}
	}
}

// @media screen and (max-width:319px){
// 	.home{
// 		.rotation{
// 			>ul.rotation-groups{
// 				>li{
// 					>a.rotation-list{
// 						.oneBang{
// 							.bottom(24px);
// 							.padding(0 20px);
// 							.oneBang-top{
// 								.margin-bm(8px);
// 								.oneBang-top-pics{
// 									.padding-rt(24px);
// 								}
// 								.oneBang-top-word{
// 									.padding-lt(24px);
// 									.oneBang-animate{
// 										.fontSize(12px);
// 										.margin-tp(16px);
// 									}
// 								}
// 							}
// 							.oneBang-bottom{
// 								.oneBang-bottom-word{
// 									.fontSize(14px);
// 								}
// 								.oneBang-bottom-platform{
// 									.margin-tp(3px);
// 									>p{
// 										>img{
// 											.width(12px);
// 											.margin-rt(6px);
// 										}
// 										>span{
// 											.fontSize(14px);
// 										}
// 									}
// 									>p:first-child{
// 										.margin-rt(24px);
// 									}
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 			>ul.rotation-small{
// 				.bottom(10px);
// 				.margin-lt(-18px);
// 				>li{
// 					.width(10px);
// 					.height(10px);
// 				}
// 				>li:first-child{
// 					.margin-rt(10px);
// 				}
// 			}
// 		}
// 	}
// }

@media screen and (max-width:374px){
	.home{
		.rotation{
			.height(430px);
			>ul.rotation-groups{
				>li{
					>a.rotation-list{
						.oneBang{
							.bottom(20px);
							.padding(0 20px);
							.oneBang-top{
								.margin-bm(8px);
								.oneBang-top-pics{
									.padding-rt(24px);
								}
								.oneBang-top-word{
									.padding-lt(24px);
									.oneBang-animate{
										.fontSize(12px);
										// .margin-tp(16px);
									}
								}
							}
							.oneBang-bottom{
								.oneBang-bottom-word{
									.fontSize(12px);
								}
								.oneBang-bottom-platform{
									.margin-tp(3px);
									>p{
										>img{
											.width(12px);
											.margin-rt(6px);
										}
										>span{
											.fontSize(12px);
										}
									}
									>p:first-child{
										.margin-rt(24px);
									}
								}
							}
						}
					}
				}
			}
			>ul.rotation-small{
				.bottom(5px);
				.margin-lt(-18px);
				>li{
					.width(10px);
					.height(10px);
				}
				>li:first-child{
					.margin-rt(10px);
				}
			}
		}
		.design{
			.height(430px);
			.design-example{
				.height(215px);
				.example-img{
					.padding(12px 0 0 20px);
					>img{
						.width(81px);
					}
					>img:first-child{
						.margin-rt(18px);
					}
				}
				.example-content{
					.padding(0 25px 15px 25px);
					>h1{
						.fontSize(16px);
					}
					>p{
						.fontSize(12px);
						.margin-tp(6px);
					}
				}
			}
			.design-video{
				.height(215px);
			}
		}
		.appInroduce{
			.height(430px);
			.description{
				.height(190px);
				>h1{
					.fontSize(18px);
				}
				>p{
					.fontSize(12px);
					.margin-tp(10px);
				}
				>a.more{
					.width(102px);
					.line-height(24px);
					.fontSize(14px);
					.margin-tp(8px);
				}
			}
			.series{
				.height(240px);
				.series-coat{
					.series-groups{
						>li{
							>a.series-item{
								.series-content{
									.height(48px);
									.padding(0 10px);
									.margin-bm(10px);
									>h3{
										.fontSize(14px);
									}
									>p{
										.fontSize(12px);
										.margin-tp(2px);
									}
								}
							}
						}
					}
				}
				.series-direction{
					.margin-tp(10px);
					>img{
						.width(32px);
						.height(32px);
						.margin-rt(10px);
					}
					>ul{
						.margin-tp(9px);
						>li{
							.width(10px);
							.height(10px);
						}
						>li:first-child{
							.margin-rt(6px);
						}
					}
				}
			}
		}
		.appService{
			.height(430px);
			.service-pics{
				.height(215px);
			}
			.service-content{
				.height(215px);
				.padding(0 12px 15px);
				>h1{
					.fontSize(18px);
				}
				.service-item{
					.margin-tp(8px);
					>p{
						.fontSize(12px);
					}
				}
			}
		}
	}
}

@media screen and (min-width: 375px) and (max-width:413px){
	.home{
		.rotation{
			.height(617px);
			>ul.rotation-groups{
				>li{
					>a.rotation-list{
						.oneBang{
							.bottom(22px);
							.padding(0 20px);
							.oneBang-top{
								.margin-bm(12px);
								.oneBang-top-pics{
									.padding-rt(24px);
								}
								.oneBang-top-word{
									.padding-lt(24px);
									.oneBang-animate{
										.fontSize(15px);
										// .margin-tp(16px);
									}
								}
							}
							.oneBang-bottom{
								.oneBang-bottom-word{
									.fontSize(17px);
								}
								.oneBang-bottom-platform{
									.margin-tp(8px);
									>p{
										>img{
											.width(16px);
											.margin-rt(6px);
										}
										>span{
											.fontSize(17px);
										}
									}
									>p:first-child{
										.margin-rt(24px);
									}
								}
							}
						}
					}
				}
			}
			>ul.rotation-small{
				.bottom(12px);
				.margin-lt(-24px);
				>li{
					.width(15px);
					.height(15px);
				}
				>li:first-child{
					.margin-rt(10px);
				}
			}
		}
		.design{
			.height(617px);
			.design-example{
				.height(308px);
				.example-img{
					.padding(0px 0 0 32px);
					>img{
						.width(98px);
					}
					>img:first-child{
						.margin-rt(28px);
					}
				}
				.example-content{
					.padding(0 40px 15px 40px);
					>h1{
						.fontSize(24px);
					}
					>p{
						.fontSize(16px);
						.margin-tp(10px);
					}
				}
			}
			.design-video{
				.height(308px);
			}
		}
		.appInroduce{
			.height(617px);
			.description{
				.height(303px);
				>h1{
					.fontSize(28px);
				}
				>p{
					.fontSize(16px);
					.margin-tp(21px);
				}
				>a.more{
					.width(190px);
					.line-height(46px);
					.fontSize(18px);
					.margin-tp(16px);
				}
			}
			.series{
				.height(314px);
				.series-coat{
					.series-groups{
						>li{
							>a.series-item{
								.series-content{
									.height(60px);
									.padding(0 10px);
									.margin-bm(10px);
									>h3{
										.fontSize(18px);
									}
									>p{
										.fontSize(14px);
										.margin-tp(6px);
									}
								}
							}
						}
					}
				}
				.series-direction{
					.margin-tp(16px);
					>img{
						.width(42px);
						.height(42px);
						.margin-rt(18px);
					}
					>ul{
						.margin-tp(12px);
						>li{
							.width(15px);
							.height(15px);
						}
						>li:first-child{
							.margin-rt(6px);
						}
					}
				}
			}
		}
		.appService{
			.height(617px);
			.service-pics{
				.height(308px);
			}
			.service-content{
				.height(308px);
				.padding(0 16px 18px);
				>h1{
					.fontSize(21px);
				}
				.service-item{
					.margin-tp(12px);
					>p{
						.fontSize(16px);
					}
				}
			}
		}
	}
}

@media screen and (min-width:414px) and (max-width: 767px){
	.home{
		.rotation{
			.height(686px);
			>ul.rotation-groups{
				>li{
					>a.rotation-list{
						.oneBang{
							.bottom(20px);
							.padding(0 20px);
							.oneBang-top{
								.margin-bm(12px);
								.oneBang-top-pics{
									.padding-rt(24px);
								}
								.oneBang-top-word{
									.padding-lt(24px);
									.oneBang-animate{
										.fontSize(18px);
										// .margin-tp(19px);
									}
								}
							}
							.oneBang-bottom{
								.oneBang-bottom-word{
									.fontSize(19px);
								}
								.oneBang-bottom-platform{
									.margin-tp(8px);
									>p{
										>img{
											.width(19px);
											.margin-rt(6px);
										}
										>span{
											.fontSize(19px);
										}
									}
									>p:first-child{
										.margin-rt(24px);
									}
								}
							}
						}
					}
				}
			}
			>ul.rotation-small{
				.bottom(10px);
				.margin-lt(-24px);
				>li{
					.width(15px);
					.height(15px);
				}
				>li:first-child{
					.margin-rt(10px);
				}
			}
		}
		.design{
			.height(686px);
			.design-example{
				.height(343px);
				.example-img{
					.padding(20px 0 0 36px);
					>img{
						.width(108px);
					}
					>img:first-child{
						.margin-rt(32px);
					}
				}
				.example-content{
					.padding(0 45px 15px 45px);
					>h1{
						.fontSize(28px);
					}
					>p{
						.fontSize(18px);
						.margin-tp(10px);
					}
				}
			}
			.design-video{
				.height(343px);
			}
		}
		.appInroduce{
			.height(686px);
			.description{
				.height(330px);
				>h1{
					.fontSize(32px);
				}
				>p{
					.fontSize(18px);
					.margin-tp(21px);
				}
				>a.more{
					.width(246px);
					.line-height(60px);
					.fontSize(22px);
					.margin-tp(16px);
				}
			}
			.series{
				.height(356px);
				.series-coat{
					.series-groups{
						>li{
							>a.series-item{
								.series-content{
									.height(66px);
									.padding(0 10px);
									.margin-bm(10px);
									>h3{
										.fontSize(18px);
									}
									>p{
										.fontSize(14px);
										.margin-tp(6px);
									}
								}
							}
						}
					}
				}
				.series-direction{
					.margin-tp(16px);
					>img{
						.width(42px);
						.height(42px);
						.margin-rt(18px);
					}
					>ul{
						.margin-tp(12px);
						>li{
							.width(15px);
							.height(15px);
						}
						>li:first-child{
							.margin-rt(6px);
						}
					}
				}
			}
		}
		.appService{
			.height(686px);
			.service-pics{
				.height(343px);
			}
			.service-content{
				.height(343px);
				.padding(0 20px 25px);
				>h1{
					.fontSize(24px);
				}
				.service-item{
					.margin-tp(15px);
					>p{
						.fontSize(18px);
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px){
	.home{
		.rotation{
			.height(974px);
			>ul.rotation-groups{
				>li{
					>a.rotation-list{
						.oneBang{
							.bottom(36px);
							.padding(0 20px);
							.oneBang-top{
								.margin-bm(12px);
								.oneBang-top-pics{
									.padding-rt(42px);
								}
								.oneBang-top-word{
									.padding-lt(42px);
									.oneBang-animate{
										.fontSize(28px);
										// .margin-tp(19px);
									}
								}
							}
							.oneBang-bottom{
								.oneBang-bottom-word{
									.fontSize(28px);
								}
								.oneBang-bottom-platform{
									.margin-tp(8px);
									>p{
										>img{
											.width(32px);
											.margin-rt(6px);
										}
										>span{
											.fontSize(28px);
										}
									}
									>p:first-child{
										.margin-rt(24px);
									}
								}
							}
						}
					}
				}
			}
			>ul.rotation-small{
				.bottom(24px);
				.margin-lt(-24px);
				>li{
					.width(15px);
					.height(15px);
				}
				>li:first-child{
					.margin-rt(10px);
				}
			}
		}
		.design{
			.height(974px);
			.design-example{
				.height(487px);
				.example-img{
					.padding(34px 0 0 52px);
					>img{
						.width(162px);
					}
					>img:first-child{
						.margin-rt(54px);
					}
				}
				.example-content{
					.padding(0 70px 30px 70px);
					>h1{
						.fontSize(42px);
					}
					>p{
						.fontSize(28px);
						.margin-tp(15px);
					}
				}
			}
			.design-video{
				.height(487px);
			}
		}
		.appInroduce{
			.height(974px);
			.description{
				.height(380px);
				>h1{
					.fontSize(52px);
				}
				>p{
					.fontSize(28px);
					.margin-tp(12px);
				}
				>a.more{
					.width(330px);
					.line-height(82px);
					.fontSize(30px);
					.margin-tp(14px);
				}
			}
			.series{
				.height(594px);
				.series-coat{
					.series-groups{
						>li{
							>a.series-item{
								.series-content{
									.height(124px);
									.padding(0 25px);
									.margin-bm(25px);
									>h3{
										.fontSize(40px);
									}
									>p{
										.fontSize(24px);
										.margin-tp(6px);
									}
								}
							}
						}
					}
				}
				.series-direction{
					.margin-tp(18px);
					>img{
						.width(72px);
						.height(72px);
						.margin-rt(32px);
					}
					>ul{
						.margin-tp(22px);
						>li{
							.width(25px);
							.height(25px);
						}
						>li:first-child{
							.margin-rt(16px);
						}
					}
				}
			}
		}
		.appService{
			.height(974px);
			.service-pics{
				.height(487px);
			}
			.service-content{
				.height(487px);
				.padding(0 40px 45px);
				>h1{
					.fontSize(42px);
				}
				.service-item{
					.margin-tp(24px);
					>p{
						.fontSize(28px);
					}
				}
			}
		}
	}
}

.opacity-animate{
	animation: opacityAnimate .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: opacityAnimate .8s cubic-bezier(.25,.46,.45,.94) forwards;
}

@keyframes opacityAnimate{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
} 

@-webkit-keyframes opacityAnimate{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}

.fade-in-up{
	animation: fadeInUp .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: fadeInUp .8s cubic-bezier(.25,.46,.45,.94) forwards;
} 

@keyframes fadeInUp{
	0%{
		.margin-bm(0px);
		.opa(0);
	}
	100%{
		.margin-bm(25px);
		.opa(10);
	}
}

@-webkit-keyframes fadeInUp{
	0%{
		.margin-bm(0px);
		.opa(0);
	}
	100%{
		.margin-bm(25px);
		.opa(10);
	}
}

.fade-in-up-1{
	animation: fadeInUp_1 .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: fadeInUp_1 .8s cubic-bezier(.25,.46,.45,.94) forwards;
} 

@keyframes fadeInUp_1{
	0%{
		.margin-bm(0px);
		.opa(0);
	}
	100%{
		.margin-bm(10px);
		.opa(10);
	}
}

@-webkit-keyframes fadeInUp_1{
	0%{
		.margin-bm(0px);
		.opa(0);
	}
	100%{
		.margin-bm(15px);
		.opa(10);
	}
}

.fade-in-up-2{
	animation: fadeInUp_2 .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: fadeInUp_2 .8s cubic-bezier(.25,.46,.45,.94) forwards;
} 

@keyframes fadeInUp_2{
	0%{
		.margin-bm(0px);
		.opa(0);
	}
	100%{
		.margin-bm(40px);
		.opa(10);
	}
}

@-webkit-keyframes fadeInUp_2{
	0%{
		.margin-bm(0px);
		.opa(0);
	}
	100%{
		.margin-bm(40px);
		.opa(10);
	}
}

.fade-in-up-3{
	animation: fadeInUp_3 .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: fadeInUp_3 .8s cubic-bezier(.25,.46,.45,.94) forwards;
} 

@keyframes fadeInUp_3{
	0%{
		.margin-tp(25px);
		.opa(0);
	}
	100%{
		.margin-tp(0px);
		.opa(10);
	}
}

@-webkit-keyframes fadeInUp_3{
	0%{
		.margin-tp(25px);
		.opa(0);
	}
	100%{
		.margin-tp(0px);
		.opa(10);
	}
}

.fade-in-up-4{
	animation: fadeInUp_4 .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: fadeInUp_4 .8s cubic-bezier(.25,.46,.45,.94) forwards;
} 

@keyframes fadeInUp_4{
	0%{
		.margin-bm(0px);
		.opa(0);
	}
	100%{
		.margin-bm(60px);
		.opa(10);
	}
}

@-webkit-keyframes fadeInUp_4{
	0%{
		.margin-bm(0px);
		.opa(0);
	}
	100%{
		.margin-bm(60px);
		.opa(10);
	}
}

.fade-in{
	animation: fadeIn .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: fadeIn .8s cubic-bezier(.25,.46,.45,.94) forwards;
}

@keyframes fadeIn{
	0%{
		.opa(0);
	}
	100%{
		.opa(10);
	}
}

@-webkit-keyframes fadeIn{
	0%{
		.opa(0);
	}
	100%{
		.opa(10);
	}
}

.top-series-1{
	animation: topSeries_1 .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: topSeries_1 .8s cubic-bezier(.25,.46,.45,.94) forwards;
}

@keyframes topSeries_1{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(48px);
		.opa(10);
	}
}

@-webkit-keyframes topSeries_1{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(48px);
		.opa(10);
	}
}

.top-series-2{
	animation: topSeries_2 .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: topSeries_2 .8s cubic-bezier(.25,.46,.45,.94) forwards;
}

@keyframes topSeries_2{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(64px);
		.opa(10);
	}
}

@-webkit-keyframes topSeries_2{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(64px);
		.opa(10);
	}
}

.top-series-3{
	animation: topSeries_3 .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: topSeries_3 .8s cubic-bezier(.25,.46,.45,.94) forwards;
}

@keyframes topSeries_3{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(140px);
		.opa(10);
	}
}

@-webkit-keyframes topSeries_3{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(140px);
		.opa(10);
	}
}

.top-series-4{
	animation: topSeries_4 .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: topSeries_4 .8s cubic-bezier(.25,.46,.45,.94) forwards;
}

@keyframes topSeries_4{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(130px);
		.opa(10);
	}
}

@-webkit-keyframes topSeries_4{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(130px);
		.opa(10);
	}
}

.top-series-5{
	animation: topSeries_5 .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: topSeries_5 .8s cubic-bezier(.25,.46,.45,.94) forwards;
}

@keyframes topSeries_5{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(42px);
		.opa(10);
	}
}

@-webkit-keyframes topSeries_5{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(42px);
		.opa(10);
	}
}

.top-series-1-1{
	animation: topSeries_1_1 .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: topSeries_1_1 .8s cubic-bezier(.25,.46,.45,.94) forwards;
}

@keyframes topSeries_1_1{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(48px);
		.opa(10);
	}
}

@-webkit-keyframes topSeries_1_1{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(48px);
		.opa(10);
	}
}

.top-series-2-1{
	animation: topSeries_2_1 .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: topSeries_2_1 .8s cubic-bezier(.25,.46,.45,.94) forwards;
}

@keyframes topSeries_2_1{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(64px);
		.opa(10);
	}
}

@-webkit-keyframes topSeries_2_1{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(64px);
		.opa(10);
	}
}

.top-series-3-1{
	animation: topSeries_3_1 .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: topSeries_3_1 .8s cubic-bezier(.25,.46,.45,.94) forwards;
}

@keyframes topSeries_3_1{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(170px);
		.opa(10);
	}
}

@-webkit-keyframes topSeries_3_1{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(170px);
		.opa(10);
	}
}

.top-series-4-1{
	animation: topSeries_4_1 .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: topSeries_4_1 .8s cubic-bezier(.25,.46,.45,.94) forwards;
}

@keyframes topSeries_4_1{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(170px);
		.opa(10);
	}
}

@-webkit-keyframes topSeries_4_1{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(170px);
		.opa(10);
	}
}

.top-series-5-1{
	animation: topSeries_5_1 .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: topSeries_5_1 .8s cubic-bezier(.25,.46,.45,.94) forwards;
}

@keyframes topSeries_5_1{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(55px);
		.opa(10);
	}
}

@-webkit-keyframes topSeries_5_1{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(55px);
		.opa(10);
	}
}

.top-series-1-2{
	animation: topSeries_1_2 .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: topSeries_1_2 .8s cubic-bezier(.25,.46,.45,.94) forwards;
}

@keyframes topSeries_1_2{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(48px);
		.opa(10);
	}
}

@-webkit-keyframes topSeries_1_2{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(48px);
		.opa(10);
	}
}

.top-series-2-2{
	animation: topSeries_2_2 .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: topSeries_2_2 .8s cubic-bezier(.25,.46,.45,.94) forwards;
}

@keyframes topSeries_2_2{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(104px);
		.opa(10);
	}
}

@-webkit-keyframes topSeries_2_2{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(104px);
		.opa(10);
	}
}

.top-series-3-2{
	animation: topSeries_3_2 .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: topSeries_3_2 .8s cubic-bezier(.25,.46,.45,.94) forwards;
}

@keyframes topSeries_3_2{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(270px);
		.opa(10);
	}
}

@-webkit-keyframes topSeries_3_2{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(270px);
		.opa(10);
	}
}

.top-series-4-2{
	animation: topSeries_4_2 .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: topSeries_4_2 .8s cubic-bezier(.25,.46,.45,.94) forwards;
}

@keyframes topSeries_4_2{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(290px);
		.opa(10);
	}
}

@-webkit-keyframes topSeries_4_2{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(290px);
		.opa(10);
	}
}

.top-series-5-2{
	animation: topSeries_5_2 .8s cubic-bezier(.25,.46,.45,.94) forwards;
	-webkit-animation: topSeries_5_2 .8s cubic-bezier(.25,.46,.45,.94) forwards;
}

@keyframes topSeries_5_2{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(45px);
		.opa(10);
	}
}

@-webkit-keyframes topSeries_5_2{
	0%{
		.top(0);
		.opa(0);
	}
	100%{
		.top(45px);
		.opa(10);
	}
}